<!--
File: home.html
Author: Juhász Roland
Copyright: 2021, Juhász Roland
Group: Szoft I N
Date: 2022-05-26
Github: https://github.com/Roleeygit/laposszferoid
Licenc: GNU GPL
-->

<h1>Feladat 0340 megoldása</h1>
<h2>Lencseszferoid térfogatának számítása</h2>

<form action="calc.php" method="get">
<img src="pictures/lencseszferoid.png" alt="lencseszferoid">
<br><br>
<img src="pictures/keplet.png" alt="keplet">
<br><br><br><br>

<div>
    <label for="a" class="a">a oldal</label>
    <input type="text" name="a" id="a" class="form-control">
</div>
<div>
    <label for="b" class="b">b oldal</label>
    <input type="text" name="b" id="b" class="form-control">
</div>

<button type="submit" class="btn btn-primary mt-2">Számít</button>


</form>